# Acesso direto e à prova de falhas de diretório
spring.datasource.url=jdbc:postgresql://...
spring.datasource.username=username_postgres
spring.datasource.password=sua_senha_postgres
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

# Chave secreta do JWT (Adicione esta linha!)
api.security.token.secret=